{{ define "main" }}
<div class="divider divider--bottom-md"></div>
<section class="container">
    <div class="row">
        <div class="col-sm-12 post-wide">
            <article class="post post--preview">
                <div class="image-container image-container--empty">
                    <img alt="" src="{{ .Params.image }}"/>
                    <p class="post__date post__date--rect">{{ .Date.Format .Site.Params.dateFormat }}</p>
                </div>
                <ul class="tags post__tags">
                    <li class="tags__item tags__item--user">{{ partial "author.html" . }}</li>
                </ul>
                <h2 class="post-heading">{{ .Title }}</h2>
                <div class="content">{{ .Content }}</div>
            </article>
        </div>
    </div>
</section>
{{ end }}