<!-- Footer section -->
<div class="devider-color"></div>

<footer class="footer footer--expand">
    <div class="footer-inner">
        <div class="container">
            <div class="bottom-space--sm"></div>
            <address class="contact-info contact-info--primary">
                <span class="contact-info__item">
                    <i class="fa fa-envelope"></i>
                    <a class="contactus" href="mailto:support@recalbox.com">{{ i18n "contact" }}</a>
                </span>
            </address>

            <div class="social social--default">
                <ul>
                    <li class="social__item"><a class="social__link" href="https://discord.gg/NbQFbGM" target="_blank"><i class="social__icon fa fa-wechat"></i></a></li>
                    <li class="social__item"><a class="social__link" href="https://twitter.com/recalbox" target="_blank"><i class="social__icon fa fa-twitter"></i></a></li>
                    <li class="social__item"><a class="social__link" href="https://www.facebook.com/recalbox" target="_blank"><i class="social__icon fa fa-facebook"></i></a></li>
                    <li class="social__item"><a class="social__link" href="https://www.youtube.com/c/RecalboxOfficial" target="_blank"><i class="social__icon fa fa-youtube"></i></a></li>
                    <li class="social__item"><a class="social__link" href="https://gitlab.com/recalbox/recalbox" target="_blank"><i class="social__icon fa fa-gitlab"></i></a></li>
                    <li class="social__item"><a class="social__link" href="https://recalbox.gitbook.io/documentation/" target="_blank"><i class="social__icon fa fa-book"></i></a></li>
                    <li class="social__item"><a class="social__link" href="/partners" target="_blank"><i class="social__icon fa fa-external-link"></i></a></li>
                    {{ if .RSSLink }}
                    <li class="social__item"><a class="social__link" href="{{ .RSSLink }}" target="_blank"><i class="social__icon fa fa-rss"></i></a></li>
                    {{ end }}
                </ul>
            </div>
        </div>

        <div class="copy copy--space copy--sm">
            <div>
                <a href="https://www.netlify.com" target="_blank">
                    <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg"/>
                    </a>
            </div>
            <div class="bottom-space--sm"></div>

            &copy; recalbox.com, 2020. All rights reserved.
        </div>

    </div><!-- end container -->
</footer>
<!-- end footer section -->



<!-- Mobile menu -->
<script src='{{ (resources.Get "/allec/external/z-nav/jquery.mobile.menu.js" | resources.Minify).Permalink }}'></script>
<script src='{{ (resources.Get "/allec/external/swiper/idangerous.swiper.js" | resources.Minify).Permalink }}'></script>

<!-- Scroll to plugin -->
<script src='{{ "/allec/external/scrollto/jquery.scrollTo.min.js" | relURL }}'></script>
<script src='{{ "/allec/external/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" | relURL }}'></script>
<script src='{{ (resources.Get "/allec/js/custom.js" | resources.Minify).Permalink }}'></script>
<script src='{{ (resources.Get "/js/activateMenu.js" | resources.Minify).Permalink }}'></script>
<script>
    $(document).ready(function () {
        $('.tooltip-link').tooltip();
    });
</script>
