{{ define "main" }}
<section class="container">
    <h2 class="block-title" id="medias">FAQ</h2>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="heading heading--section">{{ i18n "faqTitle" }}</h2>
            <!-- Accordion smooth -->
            <div class="panel-group accordion acoordion--smooth" id="accordion4">

                <!-- Accordion panel -->
                <div class="panel panel-default">
                    <!-- accordion panel heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-link" data-toggle="collapse" data-parent="#accordion4"
                                href="#collapse24">
                                <span class="marker">
                                    <span class="marker__close"><i class="fa fa-plus"></i></span>
                                    <span class="marker__open"><i class="fa fa-minus"></i></span>
                                </span>
                                {{ i18n "faq4q" | safeHTML }}
                            </a>
                        </h4>
                    </div><!-- end accordion panel heading -->
                    <!-- accordion panel body -->
                    <div id="collapse24" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ i18n "faq4r1" | safeHTML }}
                        </div>
                    </div><!-- end accordion panel body -->
                </div><!-- end accordion panel -->

                <!-- Accordion panel -->
                <div class="panel panel-default">
                    <!-- accordion panel heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-link" data-toggle="collapse" data-parent="#accordion4"
                                href="#collapse22">
                                <span class="marker">
                                    <span class="marker__close"><i class="fa fa-plus"></i></span>
                                    <span class="marker__open"><i class="fa fa-minus"></i></span>
                                </span>
                                {{ i18n "faq2q" }}
                            </a>
                        </h4>
                    </div><!-- end accordion panel heading -->
                    <!-- accordion panel body -->
                    <div id="collapse22" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ i18n "faq2r1" }} : <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
                                target="_top" style="display: inline;vertical-align: -webkit-baseline-middle;">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="7XEM7WCR3UVNW">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                            <br>
                            {{ i18n "faq2r2" }} <a
                                href="https://gitlab.com/recalbox/recalbox/issues">Gitlab</a>.<br>
                            {{ i18n "faq2r3" }} <a href="http://blog.recalbox.com/forums">{{ i18n "faq2r5" }}</a><br>
                            {{ i18n "faq2r4" }} <a
                                href="https://github.com/recalbox/recalbox-os/wiki">https://github.com/recalbox/recalbox-os/wiki</a><br>
                        </div>
                    </div><!-- end accordion panel body -->
                </div><!-- end accordion panel -->
                <!-- Accordion panel -->
                <div class="panel panel-default">
                    <!-- accordion panel heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-link" data-toggle="collapse" data-parent="#accordion4"
                                href="#collapse21">
                                <span class="marker">
                                    <span class="marker__close"><i class="fa fa-plus"></i></span>
                                    <span class="marker__open"><i class="fa fa-minus"></i></span>
                                </span>
                                {{ i18n "faq1q" }}
                            </a>
                        </h4>
                    </div><!-- end accordion panel heading -->
                    <!-- accordion panel body -->
                    <div id="collapse21" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ i18n "faq1r1" }} <a
                                href="https://github.com/recalbox/recalbox-os/wiki">https://github.com/recalbox/recalbox-os/wiki</a>.<br>
                            {{ i18n "faq1r2" }} <a
                                href="https://github.com/recalbox/recalbox-os/wiki/{{ i18n "faqManual" }}">https://github.com/recalbox/recalbox-os/wiki/{{ i18n "faqManual" }}</a>.
                        </div>
                    </div><!-- end accordion panel body -->
                </div><!-- end accordion panel -->

                <!-- Accordion panel -->
                <div class="panel panel-default">
                    <!-- accordion panel heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-link" data-toggle="collapse" data-parent="#accordion4"
                                href="#collapse23">
                                <span class="marker">
                                    <span class="marker__close"><i class="fa fa-plus"></i></span>
                                    <span class="marker__open"><i class="fa fa-minus"></i></span>
                                </span>
                                {{ i18n "faq3q" }}
                            </a>
                        </h4>
                    </div><!-- end accordion panel heading -->
                    <!-- accordion panel body -->
                    <div id="collapse23" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ i18n "faq3r1" }} <br>
                            {{ i18n "faq3r2" }} <a
                                href="https://forum.recalbox.com/topic/52/homebrews-sur-la-recalbox">https://forum.recalbox.com/topic/52/homebrews-sur-la-recalbox</a>
                            {{ i18n "faq3r3" }}
                        </div>
                    </div><!-- end accordion panel body -->
                </div> <!-- end accordion panel -->
                {{ range $index, $num := (union (seq 5 11) (seq 13 14)) }}
                <div class="panel panel-default">
                    <!-- accordion panel heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed accordion-link" data-toggle="collapse" data-parent="#accordion4"
                                href="#collapse2{{ $num }}">
                                <span class="marker">
                                    <span class="marker__close"><i class="fa fa-plus"></i></span>
                                    <span class="marker__open"><i class="fa fa-minus"></i></span>
                                </span>
                                {{ printf "%s%d%s" "faq" $num "q" | i18n | safeHTML }}
                            </a>
                        </h4>
                    </div><!-- end accordion panel heading -->
                    <!-- accordion panel body -->
                    <div id="collapse2{{ $num }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ printf "%s%d%s" "faq" $num "r1" | i18n | safeHTML }}
                        </div>
                    </div><!-- end accordion panel body -->
                </div> <!-- end accordion panel -->
                {{ end }}
            </div><!-- end accordion smooth -->
        </div> <!-- end col -->
    </div>
</section>
{{ end }}
